page-login{
    background-color: #1e524a;
}

ion-title {
    text-align: center;
    font-size: large;
}
.background{
    background-image: url('../../assets/imgs/wppbackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #e5ddd5;
}
