<ion-header align-title="center">
    <ion-navbar>

        <ion-title>Bem vindo!</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="background">
    <ion-list>

        <ion-item>
            <ion-label floating>Celular</ion-label>
            <ion-input type="text" name="mobile" [(ngModel)]="mobile"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Senha</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>

    </ion-list>

    <div>
        <button class="login" ion-button block (click)="loginIn()">Entrar</button>
    </div>




</ion-content>