<ion-header>
    <ion-navbar>
        <ion-title>
            Cliente
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="background">

    <ion-list>

        <ion-item>
            <ion-label stacked>Nome</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="model.name"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Telefone</ion-label>
            <ion-input type="tel" name="phone" placeholder="Ex: (17)99999-9999" [brmasker]="{phone: true}" [(ngModel)]="model.telephone"></ion-input>
        </ion-item>

        <!-- <ion-item>
            <ion-label>Ativo</ion-label>
            <ion-checkbox name="active" [(ngModel)]="model.active"></ion-checkbox>
        </ion-item> -->

    </ion-list>

    <button ion-button block (click)="save()">Salvar</button>

</ion-content>