<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
        <ion-title>Bem vindo!</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="background">
    <h1>Login</h1>
    <br>


    <ion-list>

        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

    </ion-list>

    <div>
        <button ion-button block (click)="login()">Sign In</button>
    </div>


</ion-content>