page-clients{
    .toolbar-background {
        background-color: #1e524a;
      }
    
    .toolbar-title{
        color: white !important;
    }
    .back-button{
        color: white !important;
    }

    .logout{
        color: white !important;
    }

    .item{
        border-radius: 30px!important;
        margin-top: 5px;
    }

    .adicionar{
        background-color: #1e524a;
    }
}

.item-inactive {
    background: color($colors, light);
}

ion-fab {
    contain: layout;
    ion-label {
        position: absolute;
        right: 50px;
        color: white;
        background-color: rgb(72, 138, 255);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
    }
}

.card-md h1 {
    margin: 0 0 2px;
    font-size: 20px;
    font-weight: normal;
    color: #222;
}

.background{
    background-image: url('../../assets/imgs/wppbackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #e5ddd5;
}

.toolbar-background {
    background-color: #1e524a;
  }

.toolbar-title{
    color: white !important;
}
.back-button{
    color: white !important;
}
