<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button class="logout" ion-button (click)="logout()">
            Sair
        </button>
        </ion-buttons>
        <ion-title center>
            Clientes
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="background">
    <ion-buttons>
        <button class="adicionar" ion-button block (click)="addClient()">Adicionar Cliente</button>
    </ion-buttons>

    <ion-list>

            <ion-item *ngFor="let item of clients">
                    <ion-avatar (click)="listOrders(item)" item-start>
                            <img src="assets/imgs/avatar-cher.png">
                    </ion-avatar>
                    <h2 (click)="listOrders(item)">{{ item.name }}</h2>
                    <p (click)="listOrders(item)">{{ item.telephone }}</p>
                    <!-- <button item-end ion-button color="primary" round>Whatsapp</button> -->
                    <ion-avatar (click)="listOrders(item)" item-end>
                            <img src="assets/imgs/whatsapp-icon.png">
                    </ion-avatar>
                    <!-- <ion-note item-end>3:43 pm</ion-note> -->
                  </ion-item>

        <!-- <ion-card *ngFor="let item of clients" (click)="listOrders(item)">

            <ion-card-header>
                <h1 class="teste">{{ item.name }} - {{ item.telephone }}</h1>
            </ion-card-header> -->

            <!-- <ion-card-content>
                <h2> - {{item.ref}}</h2>
            </ion-card-content> -->

            <!-- <ion-row text-center>

                <ion-col>
                    <button ion-button icon-left clear small (click)="editClient(item);">
                        <ion-icon name="create"></ion-icon>
                        <div>Editar</div>
                    </button>
                </ion-col>

                <ion-col>
                    <button ion-button icon-left clear small (click)="removeClient(item);">
                        <ion-icon name="trash"></ion-icon>
                        <div>Excluir</div>
                    </button>
                </ion-col>

                <ion-col>
                    <button ion-button icon-left clear small>
                        <ion-icon name="trash"></ion-icon>
                        <div>Pedidos</div>
                    </button>
                </ion-col>

            </ion-row> -->

        <!-- </ion-card> -->
    </ion-list>

    <ion-fab right bottom (click)="addClient()">
        <ion-label class="adicionar">Adicionar Cliente</ion-label>
        <button ion-fab class="adicionar"><ion-icon name="add"></ion-icon>
        
        </button>
    </ion-fab>
</ion-content>