<ion-header>
    <ion-navbar>
        <ion-title>
            Pedido
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="background">

    <ion-list>

        <ion-item>
            <ion-label stacked>Código do produto</ion-label>
            <ion-input type="text" name="name" [(ngModel)]="model.cod_product"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Quantidade</ion-label>
            <ion-input type="number" name="quantity" [(ngModel)]="model.quantity"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Catálogo</ion-label>
            <ion-select [(ngModel)]="model.catalog_id" (ionChange)="catalogChange()">
                <ion-option *ngFor="let catalog of catalogs" value={{catalog.catalog_id}}>{{catalog.name}} - {{catalog.catalog_id}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Pago</ion-label>
            <ion-checkbox name="paid" [(ngModel)]="model.paid"></ion-checkbox>
        </ion-item>

    </ion-list>

    <button ion-button block (click)="saveOrders()">Salvar</button>

</ion-content>