<ion-header>
    <ion-navbar>
        <ion-title>
            {{model.name}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="background">
    <ion-row *ngFor="let item of orders">
        <ion-col col-5 class="orderclass">
            <ion-item class="cardborder">
                <ion-label>Pago</ion-label>
                <ion-checkbox class="checkboxmargin" [ngModel]="item.paid" (ngModelChange)="item.paid=$event; orderProvider.update(item)"></ion-checkbox>
              </ion-item>
        </ion-col>
        <ion-col col-7>
            <ion-list>
                <ion-card class="cardborder">

                    <ion-card-header>
                            {{ item.name }}
                    </ion-card-header>

                    <ion-card-content>
                        <h2> {{item.cod_product}}</h2>
                        <h2>{{ item.quantity}} unidade(s)</h2>                        
                    </ion-card-content>

                </ion-card>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-fab right bottom>
        <button ion-fab class="adicionar" (click)="addOrder()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>