page-orders {
    .toolbar-title{
        margin-right: 60px;
    }

    // ion-checkbox{
    //     margin-right: 10px !important;
    // }

    .toolbar-background {
        background-color: #1e524a;
    }
    .toolbar-title{
        color: white !important;
    }
    .back-button{
        color: white !important;
    }
    .adicionar{
        background-color: #1e524a;
    }
}
.background{
    background-image: url('../../assets/imgs/wppbackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #e5ddd5;
}

.orderclass{
    padding-top: 40px;
}

.checkboxmargin{
    margin-right: 10px !important;
}

.cardborder{
    background-color: #dcf8c6;
    border-radius: 20px!important;
}


